<html>
    <title>Forget Password</title>
   <body>
    <form action="{% url 'reset' %}" method="POST">
        {% csrf_token %}
        <label>New Password: {{ form.password1}}</label><br>
        {% if form.password1.errors %} 
        <span style='color: red;'> {{form.password1.errors}}</span><br>
        {% endif %}
        <label>Confirm Password: {{ form.password2}}</label><br>
        {% if form.password2.errors %} 
        <span style='color: red;'> {{form.password2.errors}}</span><br>
        {% endif %}
        <input type="submit" value='Submit'/>
        <br><br>
        {% if context %}
        <span style='color: red;'> {{context}}</span>
        {% endif %}
            
                
        </form>
    </body> 
    
</html>